meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1')

// SEO
title 扳勢回潮　等不及的蓄勢待發！ Wait to action - JUKSY 流行生活網
meta(name='keywords', content='流行,潮流,街頭,生活,娛樂,時尚,精品,穿搭,影音,音樂,電影,設計,藝術,3C,超跑,正妹')
meta(name='description', content='蟄伏了一整個2016年，終於在寒冬12月破冰而出，渾身充滿蓄勢待發的動感能量，並將這股Power帶到嶄新的2017，彷彿是在召喚大家，是時候該跌破眾人眼鏡、扳回自己勢力版圖的時候了！')
// SEO end

// FB
meta(property='fb:app_id', content='608477045879026')
meta(property='og:title', content='扳勢回潮　等不及的蓄勢待發！ Wait to action')
meta(property='og:description', content='蟄伏了一整個2016年，終於在寒冬12月破冰而出，渾身充滿蓄勢待發的動感能量，並將這股Power帶到嶄新的2017，彷彿是在召喚大家，是時候該跌破眾人眼鏡、扳回自己勢力版圖的時候了！')
meta(property='og:image', content='img/fb.png')
meta(property='og:url', content='https://www.juksy.com/events/month1612waittoaction')
meta(property='og:site_name', content='JUKSY 流行生活網')
meta(property='og:type', content='website')
// FB end

// Web Clip
link(rel='shortcut icon', href='https://www.juksy.com/img/logo.ico')
link(rel='apple-touch-icon-precomposed', href='https://www.juksy.com/img/logoios.ico')
// Web Clip end

// CSS

// CSS DEV FILE
link(href='//cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css', rel='stylesheet')
link(href='//cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css', rel='stylesheet')
link(href='css/index.css', rel='stylesheet')

// CSS MIN FILE
//link(href='css/app.min.css', rel='stylesheet')

// CSS end

// JS global var
script(type='text/javascript')
	include ../js/head.js
// JS global var end