// layout02
section.layout_02(data-menu='true')
	.layoutWrap
		h2.title SELECTED ARTICLES
		.detail 時尚回潮
		.subTitleWrap
			p.subTitle 寒冬不怕變肥宅！掌握2016大勢崛起的復古單品、2017蓄勢待發的流行品牌，JUKSY從頭到腳教你變身為性格暖男，一起【扳勢回潮】！
		ul.articleWrap
			li.big.fadeOut
				.article
					a.img.imgLoading(href='https://www.juksy.com/archives/60225', target='_blank', data-imgload='https://static.juksy.com/static/600x600/files/articles/60225/cover/584544ef36d85.png')
						.linkWrap
							.linkBorder
								span.ch 馬上閱讀
								span.ch.arrow →
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/60225', target='_blank')
						h3 「時尚非難事，只求有心人」2017 年男性造型 10 大流行趨勢大公開！
			li.fadeOut
				.article
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/60269', target='_blank')
						h3 好衣服在哪買？盤點 4 個會爆紅的台灣時裝品牌...
					a.img.imgLoading(href='https://www.juksy.com/archives/60269', target='_blank', data-imgload='https://static.juksy.com/static/600x600/files/articles/60269/cover/584798b07f741.png')
						.linkWrap
							.linkBorder
								span.ch 馬上閱讀
								span.ch.arrow →
			li.fadeOut
				.article
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/60168', target='_blank')
						h3 秋冬粗曠暖男養成教室！穿上這 5 款靴子讓你 MAN 度倍增...
					a.img.imgLoading(href='https://www.juksy.com/archives/60168', target='_blank', data-imgload='https://static.juksy.com/static/600x600/files/articles/60168/cover/5846797f88552.png')
						.linkWrap
							.linkBorder
								span.ch 馬上閱讀
								span.ch.arrow →
			li.fadeOut
				.article
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/60451', target='_blank')
						h3 Cool 女孩都愛！盤點 4 個 2016 連 GD 都常穿的街頭品牌...
					a.img.imgLoading(href='https://www.juksy.com/archives/60451', target='_blank', data-imgload='https://static.juksy.com/static/600x600/files/articles/60451/cover/584cfd0a5721a.png')
						.linkWrap
							.linkBorder
								span.ch 馬上閱讀
								span.ch.arrow →
			li.fadeOut
				.article
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/53454', target='_blank')
						h3 想變潮流 ICON？快去翻你爸媽的衣櫃！這 5 大復古單品今年一定要擁有！...
					a.img.imgLoading(href='https://www.juksy.com/archives/53454', target='_blank', data-imgload='https://static.juksy.com/static/600x600/files/articles/53454/cover/5729ac7b2ab98.png')
						.linkWrap
							.linkBorder
								span.ch 馬上閱讀
								span.ch.arrow →
			li.fadeOut
				.article
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/60486', target='_blank')
						h3 old School 才是今年重點！這些鞋款國中穿到現在都還在持續生火！...
					a.img.imgLoading(href='https://www.juksy.com/archives/60486', target='_blank', data-imgload='https://static.juksy.com/static/600x600/files/articles/60486/cover/584fac1250a2f.png')
						.linkWrap
							.linkBorder
								span.ch 馬上閱讀
								span.ch.arrow →
			li.fadeOut
				.article
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/60480', target='_blank')
						h3 他們都是模特出身！這些「男友力滿分」的小鮮肉即將在 2017 大爆發...
					a.img.imgLoading(href='https://www.juksy.com/archives/60480', target='_blank', data-imgload='https://static.juksy.com/static/600x600/files/articles/60480/cover/584e23468ff6c.png')
						.linkWrap
							.linkBorder
								span.ch 馬上閱讀
								span.ch.arrow →
// layout02 end