// layout03_infinite
section.layout_03_infinit.layout_03(data-menu='true')
	.layoutWrap(data-tags='["扳勢回潮"]',data-filter='[60328, 60418, 60482, 60225, 60269, 60168, 60451, 53454, 60486, 60480]')
		h2.title RELATED POSTS
		.detail 扳勢話題
		.subTitleWrap
			p.subTitle 不管娛樂、生活、美妝……，關於所有蓄勢待發、大勢崛起的話題；都在JUKSY12月的【扳勢回潮】！
// layout03_infinite end