// layout04
section.layout_04(data-menu='true')
	.layoutWrap
		h2.title  SELECTED ARTICLES
		.detail JUKSY 12月 焦點人物
		.subTitleWrap
			p.subTitle 
		.sliderWrap
			.slidesWrap.fadeOut
				ul.slides
					li
						a.img.imgLoading(href='https://www.juksy.com/archives/60328', target='_blank', data-imgload='https://static.juksy.com/static/600x600/files/articles/60328/cover/5850b15bcc16d.png')
							.linkWrap
								.linkBorder
									span.ch 馬上閱讀
									span.ch.arrow →
						.txtWrap
							a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/60328', target='_blank')
								h3 《流星花園》一晃眼過了 15 年！男主角美作再談衫菜，竟用「這種食物」形容她！？
					li
						a.img.imgLoading(href='https://www.juksy.com/archives/60418', target='_blank', data-imgload='https://static.juksy.com/static/600x600/files/articles/60418/cover/584e59d6ac758.png')
							.linkWrap
								.linkBorder
									span.ch 馬上閱讀
									span.ch.arrow →
						.txtWrap
							a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/60418', target='_blank')
								h3 從美作到時尚舞王，吳建豪：「享受沉潛的過程，你就已經準備要成功了！」
					li
						a.img.imgLoading(href='https://www.juksy.com/archives/60482', target='_blank', data-imgload='https://static.juksy.com/static/600x600/files/articles/60482/cover/5850b3790f665.png')
							.linkWrap
								.linkBorder
									span.ch 馬上閱讀
									span.ch.arrow →
						.txtWrap
							a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/60482', target='_blank')
								h3 明星穿搭神解析！吳建豪「最帥的一面」原來是這樣來的
// layout04 end